<app-side-bar></app-side-bar>
<div class="section">
    <div class="section-header">
        <div class="section-title">Education details</div>
        <div class="section-name">Degree, Institution and Grades</div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="experience">
                <div class="item">
                    <h5 class="company-name">K.K.Wagh Education Societys College of Engineering [4 gpa]</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Nashik, Maharashtra, India</div>
                    <div class="job-info">
                        <div class="title">B.E Computer</div>
                        <div class="year">2015 - 2019</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i>Secured 1st rank in class during final year (2018-19)</li>
                            <li><i class="fa-li fa fas fa-check"></i>Indian Society for technical Education (ISTE- 4 years) </li>
                            <li><i class="fa-li fa fas fa-check"></i>Computer Society of India (CSI- 1 year) </li>
                            <li><i class="fa-li fa fas fa-check"></i> Basketball team (CSI- 2 years) </li>
                            <li><i class="fa-li fa fas fa-check"></i> Participated and Organised variours Technical and non technical campus events</li>
                        </ul>
                    </div>
                </div>

                <div class="item" style="margin-bottom: 6em;">
                    <h5 class="company-name">Gokhale Edcuation Societys H.P.T.Arts & R.Y.K.Science College <div>[82.15%]</div></h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Nashik, Maharashtra, India</div>
                    <div class="job-info">
                        <div class="title">Higher Secondary School Certificate</div>
                        <div>2013 - 2015</div>
                    </div>
                    <div>
                        <!-- <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i>Single point of contact for the customer &
                                successfully managed many multi-million dollar oil & gas, process & power projects from
                                leading EPCs for the supply of different types of products like valves, actuators,
                                interlocks etc.</li>
                            <li><i class="fa-li fa fas fa-check"></i>Developed proper documentation procedure,
                                project managing tools & commercial tasks tracking lists for the project management team
                            </li>
                            <li><i class="fa-li fa fas fa-check"></i>Prepared, analysed & presented monthly &
                                quarterly revenue forecast & financial reports for the team</li>
                        </ul> -->
                    </div>
                </div>
                <div class="item">
                    <h5 class="company-name">Kilbil St. Joseph's High School [90.18%]</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Nashik, Maharashtra, India</div>
                    <div class="job-info">
                        <div class="title">Secondary school certificate</div>
                        <div>2000 - 2013</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i>Awarded 3rd place in HDFC Bank scholarship for meritorious students</li>
                            <li><i class="fa-li fa fas fa-check"></i>Awarded Most Punctual Student of year 2012-13</li>
                            <li><i class="fa-li fa fas fa-check"></i>Active contributer Cancer Patients Aid Association (CPAA - 3 years) </li>
                            <li><i class="fa-li fa fas fa-check"></i>Shot put (Under 16, Interschool Olympics, 2 years- Silver Medal) </li>
                            <li><i class="fa-li fa fas fa-check"></i>Sports activities with top three position holders: Basketball | Running | Fast Cycling |  Leg cricket | Discuss Throw | Shot put</li>
                            <li><i class="fa-li fa fas fa-check"></i>Winner of various Poem/Essay/handwriting competitions in English, Hindi, and Marathi languages </li>
                            <li><i class="fa-li fa fas fa-check"></i>Science exhibition Rank 1 holder in school for 2 years (2012 and 2013)</li>
                            <li><i class="fa-li fa fas fa-check"></i>Participated in various Anual day functions | Scouts and guide activities</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>