
<app-side-bar></app-side-bar>

<div class="section">
  <div class="section-header">
    <div class="section-title">Discover</div>
    <div class="section-name">About me</div>
  </div>

    <div  class="section-content">

            <p class="card intro">
              Hi There, I'm Vedika Mujgule, a Web software Developer!
              <!-- <span class="name">Vedika Mujgule</span><br><br> -->
              
              I love to design and develop clean and responsive UI layouts and have two years of cumulative work experience with the Angular framework. Being passionate about web development, layout aesthetics, and great user experience I focus on ingenuity! I roll in with familiarity in API development and integration furthering an in-depth understanding of the entire web development process.

              <br> <br> I believe that advancements in technology and learning are indefinite. I like to stay updated and learn the latest libraries and integrations managed with the frontend development.
                
               <br> <br>Outside of work, I watch TV series. I am a people person who enjoys trekking, cooking and as a health freak, I love to work out!</p>
               <div class="section-header">
                <div class="section-name">Personal details</div>
              </div>

               <div class="personal-details">
                <p>w</p>
                <p>9404696037</p>
                <p>w</p>
                <p>9404696037</p>
                <p>w</p>
                <p>9404696037</p>
                <p>w</p>
                <p>9404696037</p>
                <p>w</p>
                <p>9404696037</p>
                <p>w</p>
                <p>9404696037</p>
              </div>
      <!-- <button class="button">Download CV</button> -->
      <!-- <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-pinterest"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
      <a href="#" class="fa fa-skype"></a>
      <a href="#" class="fa fa-android"></a>
      <a href="#" class="fa fa-dribbble"></a>  -->
    </div>



  </div>