<div class='container'>
    
    <h1 class='title'> CSS Skill Bar </h1>

    <div class='skillBox'>

      <div class='skillBar'>
        <a class='ion-social-html5-outline'> </a>
        <span class='skillName'> HTML5 </span>
        <div class="skillArea">
          <span class="skill-HTML"> </span>
        </div><!-- skillArea -->
      </div><!-- skillBar -->

      <div class='skillBar'>
        <a class='ion-social-css3-outline'> </a>
        <span class='skillName'> CSS3 </span>
        <div class="skillArea">
          <span class="skill-CSS"> </span>
        </div><!-- skillArea -->
      </div><!-- skillBar -->

      <div class='skillBar'>
        <a class='ion-social-javascript'> </a>
        <span class='skillName'> JAVASCRIPT </span>
        <div class="skillArea">
          <span class="skill-JS"> </span>
        </div><!-- skillArea -->
      </div><!-- skillBar -->

      <div class='skillBar'>
        <a class='ion-social-angular-outline'> </a>
        <span class='skillName'> ANGULAR </span>
        <div class="skillArea">
          <span class="skill-A4"> </span>
        </div><!-- skillArea -->
      </div><!-- skillBar -->

      <div class='skillBar'>
        <a class='ion-social-nodejs'> </a>
        <span class='skillName'> NODEJS </span>
        <div class="skillArea">
          <span class="skill-NODEJS"> </span>
        </div><!-- skillArea -->
      </div><!-- skillBar -->

      <div class='skillBar'>
        <a class='ion-social-wordpress-outline'> </a>
        <span class='skillName'> WORDPRESS </span>
        <div class="skillArea">
          <span class="skill-WP"> </span>
        </div><!-- skillArea -->
      </div><!-- skillBar -->

    </div><!-- skillBox -->

  </div><!-- container -->