.right-side{
    text-align: left;
    margin-right: 50px;
    font: normal normal bold 20px/27px;
    letter-spacing: 0.03px;
    color: #707070;
    opacity: 1;
}
.header-logo{
    margin-left: 45px;
    vertical-align: middle;
}
.header-bg{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 1px 4px #00000014;
    opacity: 1;
    padding: 10px 0 10px 0;
}
