<app-side-bar></app-side-bar>
<div class="section">
    <div class="section-header">
        <div class="section-title">Experience</div>
        <div class="section-name">Professional work experience and responsibilities</div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="experience">
                <div class="item">
                    <h5 class="company-name">Mediagility [A Google Cloud Premier Partner]</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Pune, Maharashtra, India
                    </div>
                    <div class="job-info">
                        <div class="title">Software Engineer</div>
                        <div class="year">Jul 2021 - Present</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i> Development of Responsive UI for Trading Dashboard
                                Module using Angular 10</li>
                            <li><i class="fa-li fa fas fa-check"></i> Responsible for Designing and Developed various
                                modules using Angular Framework</li>
                            <li><i class="fa-li fa fas fa-check"></i> Development of Responsive UI for Trading Dashboard
                                Module using Angular 10</li>
                        </ul>
                    </div>
                </div>

                <div class="item">
                    <h5 class="company-name">SmarTECHS.io [Remote, Part-time Contract Job]</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Conshohocken PA, USA</div>
                    <div class="job-info"> 
                        <div class="title">Full stack Developer [6 months]</div>
                        <div>Feb - Jul 2021</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li style="color:#7e84a3;"><i class="fa-li fa fas fa-check"
                                    style="color:#dc9b8a;"></i>Backend responsibilities</li>
                            <li><i class="fa-li fa fas fa-check"></i> Designing Complex architecture diagrams according
                                to development stack using draw.io
                            <li><i class="fa-li fa fas fa-check"></i> Implemented Multi-tenancy architecture for
                                horizontal scaling of Camunda Process
                                Engines</li>
                            <li><i class="fa-li fa fas fa-check"></i> Designed, Deployed, and Configured BPMNs per
                                tenant and using JAVA classes for
                                service tasks. Developed necessary custom APIs and familiarized with Camunda REST API
                            </li>
                            <li><i class="fa-li fa fas fa-check"></i> Dockerized Camunda images and configured MySQL
                                database to achieve multitenancy
                                at AWS Level.</li>
                            <li style="color:#7e84a3;"><i class="fa-li fa fas fa-check"
                                    style="color:#dc9b8a;"></i>Frontend responsibilities</li>



                            <li><i class="fa-li fa fas fa-check"></i> Designing and Development of various modules using
                                Angular 12 with Fuse theme, Angular
                                Material, and tailwind CSS for Styling
                            <li><i class="fa-li fa fas fa-check"></i> Integrated bpmn.js library to allow Admins to
                                Design BPMN <i>(Business Process Modeling
                                    Notation)</i> with Custom UI</li>
                            <li><i class="fa-li fa fas fa-check"></i>Developed step editor components to capture BPMN
                                properties along with custom
                                image annotations added for each step in the BPMN workflow designed
                            </li>
                            <li><i class="fa-li fa fas fa-check"></i> Developed and integrated APIs to deploy these
                                BPMNs directly to the process engines assigned as one
                                per tenant.</li>
                            <li><i class="fa-li fa fas fa-check"></i> Developed complex UI elements using angular
                                material and tailwind CSS.</li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <h5 class="company-name">FinIQ Consulting Pvt.Ltd.</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Nashik, Maharashtra, India
                    </div>
                    <div class="job-info">
                        <div class="title">Software Developer [2 years]</div>
                        <div>Jul 2019 - Jun 2021</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i>Developed Responsive UI for Trading Dashboard
                                Module using Angular 8 along with Components for Alerts, Watchlist CRUD Operations, and
                                Multiple blotters.</li>
                            <li><i class="fa-li fa fas fa-check"></i>Integrated UI components with APIs that speak JSON
                                with HttpClient Module.</li>
                            <li><i class="fa-li fa fas fa-check"></i>Dealt with component Interactions using angular
                                Services, DOM Manipulations and Event Handling </li>
                            <li><i class="fa-li fa fas fa-check"></i>Developed WCF Service APIs using C Sharp and MS-SQL as database</li>
                            <li><i class="fa-li fa fas fa-check"></i>Integrated dynamic tab UI Layout with Backend APIs, validated every field for order
                                placement followed by presenting the best prices fetched by the APIs</li>
                            <li><i class="fa-li fa fas fa-check"></i>Client on-Boarding UI, Integration and validation of various client details APIs </li>
                            <li><i class="fa-li fa fas fa-check"></i>Developed Complex UI Strategies to achieve requirement goals for
                                data captured and displayed per corporate action handled by the Client.</li>
                            <li><i class="fa-li fa fas fa-check"></i>Designed aesthetic UI for handling CRUD operations related to portoflio management</li>
                        </ul>
                    </div>
                </div>


                <div class="item">
                    <h5 class="company-name">FinIQ Consulting Pvt.Ltd. [Full time]</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Nashik, Maharashtra, India
                    </div>  
                    <div class="job-info">
                        <div class="title">Software Engineer Intern [1 month]</div>
                        <div class="year">May - Jun 2018</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i>One full-time summer internship focused in Web Technologies: HTML, CSS, Javascript</li>
                            <li><i class="fa-li fa fas fa-check"></i>Worked closely with the Angular developers to develop clean and responsive UI layouts as designed</li>
                            <li><i class="fa-li fa fas fa-check"></i>Developed UI elements and complex UI sections using CSS library- Bootstrap </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <h5 class="company-name">VLCC Health Care Ltd. [Remote, part-time]</h5>
                    <div class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Ghaziabad, Uttar Pradesh, India
                    </div>  
                    <div class="job-info">
                        <div class="title">Research Intern [2.5 months] </div>
                        <div class="year">Sep - Nov 2017</div>
                    </div>
                    <div>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fas fa-check"></i> Assisted the Manager to help achieve the desired resaerch requirments </li>
                            <li><i class="fa-li fa fas fa-check"></i> Responsible for Designing and Developed various
                                modules using Angular Framework</li>
                            <li><i class="fa-li fa fas fa-check"></i> Development of Responsive UI for Trading Dashboard
                                Module using Angular 10</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>