$base-color: #c6538c;

$background-color:#1f2228; //#ECFBFF;//#222629;
$light-text:#b3b6c7;
$light-orange: #dc9b8a;
$dark-blue:#2F4858;


$sidenav-background: #86C232;
$light-green: #e8f6d0;
$text-color: #b3b6c7    ;
$button-color:#0f374c;
$light-grey: #474b4f;
$font-color: #6b6e70;

$border-dark: rgba($base-color, 0.88);